<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="left">
                <tr><td> <a href="/adminhome/"> Admin Home</a>  </td></tr>
                 <tr>   <td> <a href="/adminnews/"> Add College News</a></td></tr>
                  <tr>  <td> <a href="/addmoderator/"> Add Moderator</a></td></tr>
                  <tr>  <td> <a href="/postarticles/"> Post Articles</a></td></tr>
                   <tr>  <td> <a href="/deletemember/"> Delete Member</a></td></tr>
                  <tr>  <td> <a href="/adminlogout/"> Logout</a></td></tr>
</table>
</body>
</html>